<div class="flex flex-row mx-auto items-center justify-center flex-wrap bg-gray-100 mt-4 py-4 border-gray-200 border-t-2 gap-x-24 gap-y-4">
    <div class="flex flex-col max-w-80">
        <strong>Contact Us</strong>
        <p>Please note this number is attended only during food packing times on Mondays, Thursdays, and Fridays. If we cannot answer your call, please leave a message.</p>
        <p>Tel. <a href="tel:01491 876677">01491 876677</a></p>
        <p>Email: <a href="mailto:manager.wallingfordfoodbank@gmail.com">manager.wallingfordfoodbank@gmail.com</a></p>
    </div>
    <div class="max-w-sm text-right">
        <p>"I was hungry and you gave me something to eat."</p>
        <p>Matthew 25:35</p>
    </div>    
</div>