<nav class="flex items-center justify-between flex-wrap bg-gray-100 p-6 text-gray-700 border-b-gray-200 border-b-2">
    <div class="flex items-center flex-shrink-0 mr-6 z-1 bg-inherit">
      <img class="fill-current h-12 mr-2" src="/assets/logo/logo.webp" />
      <span class="font-semibold text-xl tracking-tight">Wallingford Foodbank</span>
    </div>
    <div class="block lg:hidden peer">
      <label class="relative">
        <input type="checkbox" class="absolute appearance-none" checked>
        <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </label>
    </div>
    <div class="max-lg:peer-has-[:checked]:-translate-y-full max-lg:peer-has-[:checked]:-mt-[100%] transition-transform duration-200  w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="/" class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:text-red-500">
          Home
        </a>
        <a href="/food-parcels/" class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:text-red-500">
          Food Parcels
        </a>
        <a href="/donate/" class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:text-red-500">
          Donate
        </a>
        <a href="/volunteer/" class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:text-red-500">
          Volunteer
        </a>
        <a href="/reports/" class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:text-red-500">
          Reports
        </a>
        <a href="/gallery/" class="block mt-4 lg:inline-block lg:mt-0 hover:text-red-500">
          Gallery
        </a>
      </div>
      <div>
        <a href="/donate/" class="inline-block text-sm px-4 py-2 leading-none border rounded border-gray-700 hover:border-red-500 mt-4 lg:mt-0 hover:text-red-500">
            Donate
        </a>
      </div>
    </div>
  </nav>